# AI Layer - Python
ai-layer/app/models/**
ai-layer/venv/
ai-layer/*.env
ai-layer/embeddings/**
ai-layer/__pycache__/
ai-layer/**/__pycache__/
ai-layer/**/*.py[cod]
ai-layer/**/*$py.class
ai-layer/config/serviceAccountKey.json
ai-layer/temp_images/**
ai-layer/logs/**

#backend
backend/node_modules
backend/*.env
backend/config/*

