fastapi
uvicorn
pydantic
transformers==4.42.3
torch
sentence-transformers==4.1.0
redis
python-dotenv
python-multipart
Pillow
numpy
aiofiles
firebase-admin
opencv-python
tensorflow==2.18.1
tf-keras==2.18.0
nltk